main {
    margin: 2rem 0;
}

.centeredCard {
    margin:        0;
    position:      absolute;
    top:           50%;
    left:          50%;
    -ms-transform: translate(-50%, -50%);
    transform:     translate(-50%, -50%);
    max-width:     40vw;
}

.text-unrevealed {
    color:           #007bff !important;
    text-decoration: underline;
}

.text-unrevealed:hover {
    color:  #0056b3 !important;
    cursor: pointer;
}

.hidden {
    display: none;
}

.appCard {
    padding:          2vh;
    word-wrap:        break-word;
    border-radius:    .25rem;
    border:           1px solid rgba(0, 0, 0, .125);
    background-clip:  border-box;
    background-color: #f8f9fa;
}

.row .w-100 {
    margin-top: 2vh;
}

/* stretch .col-elements inside .row to equal the largest one */
.row.display-flex {
    display:   flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
    /* display: flex; */
    flex-direction: column;
}

/* Dark-theme */
body {
    transition: background-color .5s ease,
                color .5s ease !important;
}

.dark-body {
    background-color: #1f2326;
}

.dark-body .navbar .navbar-brand {
    color: #f8f9fa !important;
}

.dark-body .dropdown-menu {
    background-color: #343a40 !important;
}

.dark-body .dropdown-menu .dropdown-item {
    color: #f8f9fa !important;
}

.dark-body .dropdown-item:focus,
.dark-body .dropdown-item:hover {
    background-color: #1f2326;
}

.dark-body hr {
    border-color: #a0a2a4;
    color:        #a0a2a4;
}

.dark-body .table-dark {
    background-color: transparent;
}

.dark-body .appCard {
    background-color: #343a40;
}
