.langDropdown .flag-icon {
  border-radius: 3px;
}

.centeredCard {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 40vw;
}

.text-unrevealed {
  color: #007bff !important;
  text-decoration: underline;
}

.text-unrevealed:hover {
  color: #0056b3 !important;
  cursor: pointer;
}

.langDropdown .flag-icon {
  border-radius: 3px;
}

.hidden {
  display: none;
}

/* Dark-theme */
body {
  transition: background-color .5s ease,
    color .5s ease !important;
}

.dark-body {
  background-color: #1f2326;
}

.dark-body .navbar .navbar-brand {
  color: #f8f9fa !important;
}

.dark-body .dropdown-menu {
  background-color: #343a40 !important;
}

.dark-body .dropdown-menu .dropdown-item {
  color: #f8f9fa !important;
}

.dark-body .dropdown-item:focus,
.dark-body .dropdown-item:hover {
  background-color: #1f2326;
}

.dark-body hr {
  border-color: #a0a2a4;
  color: #a0a2a4;
}

.dark-body .table-dark {
  background-color: transparent;
}